.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 24px;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.04);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-2px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-bottom: 0;
}

.label {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

.icon {
  color: #999;
}

.body {
  padding: 16px;
  padding-top: 8px;
}

.value {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

.sub {
  font-size: 12px;
  color: #777;
}

.yellow {
  color: #d97706; /* ярко-жёлтый */
}
