.label {
  text-transform: capitalize;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 0.75rem;
  font-weight: 500;
  display: inline-block;
  width: fit-content;
}

/* Стили по категориям */
.productive {
  color: #15803d;
  background-color: #dcfce7;
}

.neutral {
  color: #92400e;
  background-color: #fef9c3;
}

.distracting {
  color: #b91c1c;
  background-color: #fee2e2;
}
